@use "../../colors" as *;

button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.sales-analysis-header {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fffefb;
}

.sales-analysis-header .header-select-button {
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 125px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 0 2px $theme-red;
  text-decoration: none;
}

.sales-analysis-header .select-button-left {
  border-radius: 5px 0 0 5px;
}

.sales-analysis-header .select-button-right {
  border-radius: 0 5px 5px 0;
}

.sales-analysis-header .sub-header-select-button {
  text-align: center;
  height: 24px;
  line-height: 24px;
  width: 98px;
  font-size: 11px;
  font-weight: 600;
  box-shadow: 0 0 0 2px $theme-red;
}

.sales-span {
  width: 91%;
  margin-left: 9%;
  height: 26px;
  line-height: 26px;
}
.sales-span .sales-span-select {
  background-color: $theme-yellow;
  height: 26px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  margin-left: 30px;
}

.sales-analysis-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 5%;
  height: 80vh;
  width: 100%;
  background-color: #fffefb;
}

.sales-analysis-container .sales-datas {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  height: 100%;
}

.sales-analysis-container .sales-span-text {
  line-height: 60px;
  height: 60px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

.sales-analysis-container .sales-total {
  height: 100px;
  width: 380px;
  border-radius: 15px;
}
.sales-analysis-container .sales-total * {
  margin: 0;
}

.sales-analysis-container .sales-type-text {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  vertical-align: bottom;
  text-align: left;
  padding-left: 30px;
  background-color: $theme-yellow;
  border-radius: 15px 15px 0 0;
  border-top: solid #333333 1px;
  border-right: solid #333333 1px;
  border-left: solid #333333 1px;
}
.sales-analysis-container .sales-type-price {
  font-size: 28px;
  line-height: 60px;
  height: 60px;
  font-weight: 600;
  text-align: center;
  border: solid #333333 1px;
  border-radius: 0 0 15px 15px;
}
.sales-analysis-container .sales-menu {
  height: 460px;
  width: 380px;
  border: #333333 solid 2px;
  margin-top: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.sales-analysis-container .sales-menu-headline {
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
}
.sales-analysis-container .sales-menu-headline-text-1 {
  font-size: 18px;
  width: 60%;
  vertical-align: bottom;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 15px 0 0 0;
  border-bottom: solid #aaaaaa 1px;
}
.sales-analysis-container .sales-menu-headline-text-2 {
  text-align: center;
  font-size: 18px;
  width: 15%;
  vertical-align: bottom;
  background-color: #e6e6e6;
  border-bottom: solid #aaaaaa 1px;
}
.sales-analysis-container .sales-menu-headline-text-3 {
  font-size: 18px;
  width: 25%;
  vertical-align: bottom;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 0 15px 0 0;
  border-bottom: solid #aaaaaa 1px;
}
.sales-analysis-container .menu-text {
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
}
.sales-analysis-container .menu-name {
  font-size: 18px;
  width: calc(60% - 15px);
  vertical-align: bottom;
  text-align: left;
  padding-left: 15px;
  background-color: #ffffff;
  border-bottom: solid #aaaaaa 1px;
}
.sales-analysis-container .menu-count {
  font-size: 18px;
  width: calc(15% - 5px);
  vertical-align: bottom;
  text-align: center;
  background-color: #ffffff;
  border-bottom: solid #aaaaaa 1px;
}
.sales-analysis-container .menu-price {
  font-size: 18px;
  width: calc(25% - 5px);
  vertical-align: bottom;
  text-align: right;
  padding-right: 5px;
  background-color: #ffffff;
  border-bottom: solid #aaaaaa 1px;
}
.sales-analysis-container .graph-and-calendar {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sales-analysis-container .sales-per-hour-graph-area {
  position: relative;
  height: 300px;
  width: 90%;
  border: #333333 solid 1px;
  border-radius: 10px;
  padding: 5px 10px;
}
.sales-analysis-container .bar-graph {
  position: absolute;
  height: 400px;
}
.sales-analysis-container .headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sales-analysis-container .today-date {
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.analysis-area {
  display: flex;
  flex-direction: row;
  margin-left: 9%;

  &__left {
    padding-left: 2%;
    max-width: 40%;
  }

  &__right {
    padding-left: 2%;
    padding-right: 4%;
  }
}

.menu-table {
  padding: 10px;
}

.ai-analysis-wrapper {
  margin-left: 9%;
  height: calc(100vh - 8vh * 2 - 20px * 2);
  padding: 20px;
}

.ai-analysis-wrapper .ai-analysis-container {
  border-radius: 5px;
  border: 0.5px solid #aaa;
}

.ai-analysis-container table {
  width: auto;
  border: 0.5px solid #ccc;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
  border: 0.5px solid #ccc;
  margin-bottom: 15px;
  margin-top: 12px;

  th,
  td {
    vertical-align: middle;
    border-right: 0.5px solid #ccc;
    border-bottom: 0.5px solid #ccc;
    width: 0;
    white-space: nowrap;

    &:last-child {
      border-right: none;
    }
  }

  th {
    padding: 0.25em 1em 0.35em 1em;
    background-color: $theme-yellow;
    font-size: 9px;
    font-weight: 700;
  }

  td {
    padding: 0.5em 1em;
    background-color: #fff;
    font-size: 11px;
    font-weight: 500;
  }

  tbody {
    tr {
      &:last-child {
        th,
        td {
          border-bottom: none;
        }
      }
    }
  }
}

.ai-chat-container {
  position: relative;
  width: 100%;
  height: 100%;

  .type-box {
    position: absolute;
    display: flex;
    overflow-y: hidden;
    margin: 15px;
    width: calc(100% - 30px);
    bottom: 0;
    border-radius: 5px;
    border: 0.5px solid #aaa;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    &__send-icon {
      position: absolute;
      float: right;
      width: 17px;
      height: 17px;
      margin-left: auto;
      right: 9px;
      top: 10px;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    &__area {
      width: 100%;
      border: none;
      resize: none;
      background-color: transparent;
      box-sizing: border-box;
      margin: 0;
      &:focus {
        border: none;
        outline: none;
      }
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5rem;
      padding: 7px 27px 6px 10px;
    }
  }
}

.ai-report-container {
  position: relative;
  padding: 18px 25px;
  width: calc(100% - 25px * 2);
  height: calc(100% - 18px * 2);
  overflow: scroll;

  h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 2px 0;
  }

  h2 {
    font-size: 12px;
    font-weight: 700;
    margin: 20px 0 5px 0;
  }

  p,
  li {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }

  ul {
    margin: 5px 0;
  }

  .download-pdf-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 8px;
    right: 11px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
