.add-menu__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 12%;
}

.add-menu__container .box {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.add-menu__container .box__text {
  min-width: 120px;
}

.add-menu__container .name__input {
    max-width: 300px;
}