.add-menu__container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.add-menu__container .box {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.add-menu__container .box__text {
  min-width: 120px;
}

.add-menu__container .input__name {
  height: 12px;
}

.add-menu__container .input__price {
  height: 12px;
  max-width: 112px;
}

.add-menu__container .input__picture {
  height: 12px;
}

.add-menu__container .select {
  padding: 5px;
}
