.settings-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 9%;  
  height: 100vh;
  background-color: #e6e6e6;  
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  /* A subtle shadow on the right to give depth */
}

.settings-bar .bar__button, 
.settings-bar .bar__button__focus {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  text-decoration: none;
  color: #333;
  font-weight: bold;
  width: 100%;  
  padding: 0px;  
  text-align: center;  
  border-radius: 0px;  
  transition: background-color 0.3s;  
}

.settings-bar .bar__button__focus {
  background-color: #fffefb;
  border: 0px;
  border-radius: 0%;
  outline: none; /* Remove the default focus outline */
}


.settings-bar .bar__icon {
  height: 30px;
}

.settings-bar .bar__line {
  height: 1px;
  width: 67%;
  background-color: #AAAAAA;
}
