.display-option {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #fffefb;
  padding-left: 11%;
}

.display-option .display-date {
  display: flex;
  height: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 0px;
}

.display-option .display-span-option {
  padding-top: 5px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between; 
  /*↑これは違う。これを設定したために「通常分析」の画面が事故ってる*/
  background-color: #fffefb;
}
.display-option .display-span-block {
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*↑これは違う。これを設定したために「通常分析」の画面が事故ってる*/
  background-color: #fffefb;
  height: 40px;
}
.display-option .display-hour-select {
  /*時間帯別*/
  display: flex;
  height: 32px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  margin-left: 10px;
  border: 1px #ccc solid;
  padding: 3px;
}

.display-option .display-week-select {
  /*日別*/
  display: flex;
  justify-content: center;
  height: 27px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 120px;
  margin-right: 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 3px;
  padding-bottom: 0px;
}
.display-option .display-year-select {
  /*月別*/
  height: 34px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  margin-right: 10px;
  border: 1px #ccc solid;
  padding: 3px;
}
.display-option .display-month-select {
  /*月別*/
  height: 34px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 80px;
  margin-right: 10px;
  border: 1px #ccc solid;
  padding: 3px;
}
.display-option .display-day-select {
  /*曜日別*/
  height: 34px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  width: 120px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px #ccc solid;
  padding: 3px;
}
.display-option .sales-type-select {
  background-color: #fff0b4;
  display: flex;
  height: 21px;
  font-size: 12px;
  width: 100px;
  padding: 3px;
}
.display-option .new-sales-type-select {
  display: flex;
  height: 8px;
  color: #333333;
  font-size: 8px;
  font-weight: 600;
  width: 100px;
  padding-left: 1px;
  padding-bottom: 3px;
}
.display-option .sales-type-select2 {
  background-color: #fff0b4;
  display: flex;
  height: 21px;
  font-size: 12px;
  width: 100px;
  padding: 3px;
}
.display-option .sales-span-text {
  line-height: 60px;
  height: 60px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  padding: 3px;
}

.display-option .date-and-graph {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
}
.display-option .display-date {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  height: 30px;
}
.display-option .today-datetime {
  display: flex;
  font-size: 15px;
  font-weight: 500;
}
.display-option .graph-option {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
  margin-right: 40px;
}
.display-option .graph-option-text {
  line-height: 30px;
  font-size: 18px;
  margin-right: 10px;
}
.display-option .graph-option-toggle {
  line-height: 30px;
  height: 30px;
  width: auto;
}
.display-option .toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.display-option .toggle_label {
  width: 55px;
  height: 30px;
  background: #fff0b4;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
}
.display-option .toggle_label:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.display-option .toggle_input:checked + .toggle_label {
  background-color: #ccc;
}
.display-option .toggle_input:checked + .toggle_label:after {
  left: 25px;
}
.display-option .toggle_button {
  position: relative;
  width: 75px;
  height: 35px;
  margin: auto;
}

.display-option .date-picker-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 32px;
  line-height: 32px;
}

.display-option .sorted-icon-area {
  display: flex;
  height: 40px;
  line-height: 40px;
  padding-right: 12px;
}

.display-option .sorted-icon {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  transform: translate(-10px,22px)
}

.sorted-icon{
  margin-left: -20px; /* 10ピクセル左に移動 */
  margin-bottom: 50px; 
}

p{
  font-size: 18px;
  font-weight: bold;
  margin-top: 0.0000000000000000001px;
  transform: translate(-10px,12px)
}