.mainInfo__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  height: 80vh;
  width: 100%;
  background-color: #fffefb;
}

.mainInfo__container .sales-datas {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: top;
  height: 100%;
  width: 100%;
}

.mainInfo__container .sales-span-text {
  line-height: 60px;
  height: 60px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

.mainInfo__container .sales-total {
  height: 100px;
  width: 100%;
  border-radius: 15px;
  margin: 20px 0;
}
.mainInfo__container .sales-total * {
  margin: 0;
}

.mainInfo__container .sales-type-text {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  vertical-align: bottom;
  text-align: left;
  padding-left: 30px;
  background-color: #fff0b4;
  border-radius: 15px 15px 0 0;
  border-top: solid #333333 1px;
  border-right: solid #333333 1px;
  border-left: solid #333333 1px;
}
.mainInfo__container .sales-type-price {
  font-size: 28px;
  line-height: 60px;
  height: 60px;
  font-weight: 600;
  text-align: center;
  border: solid #333333 1px;
  border-radius: 0 0 15px 15px;
}
.mainInfo__container .sales-menu {
  height: 460px;
  width: 380px;
  border: #333333 solid 2px;
  margin-top: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.mainInfo__container .sales-menu-headline {
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
}
.mainInfo__container .sales-menu-headline-text-1 {
  font-size: 18px;
  width: 60%;
  vertical-align: bottom;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 15px 0 0 0;
  border-bottom: solid #aaaaaa 1px;
}
.mainInfo__container .sales-menu-headline-text-2 {
  text-align: center;
  font-size: 18px;
  width: 15%;
  vertical-align: bottom;
  background-color: #e6e6e6;
  border-bottom: solid #aaaaaa 1px;
}
.mainInfo__container .sales-menu-headline-text-3 {
  font-size: 18px;
  width: 25%;
  vertical-align: bottom;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 0 15px 0 0;
  border-bottom: solid #aaaaaa 1px;
}
.mainInfo__container .menu-text {
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
}
.mainInfo__container .menu-name {
  font-size: 18px;
  width: calc(60% - 15px);
  vertical-align: bottom;
  text-align: left;
  padding-left: 15px;
  background-color: #ffffff;
  border-bottom: solid #aaaaaa 1px;
}
.mainInfo__container .menu-count {
  font-size: 18px;
  width: calc(15% - 5px);
  vertical-align: bottom;
  text-align: center;
  background-color: #ffffff;
  border-bottom: solid #aaaaaa 1px;
}
.mainInfo__container .menu-price {
  font-size: 18px;
  width: calc(25% - 5px);
  vertical-align: bottom;
  text-align: right;
  padding-right: 5px;
  background-color: #ffffff;
  border-bottom: solid #aaaaaa 1px;
}
.mainInfo__container .graph-and-calendar {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainInfo__container .sales-per-hour-graph-area {
  position: relative;
  height: 500px;
  width: 100%;
  border: #333333 solid 1px;
  border-radius: 10px;
  padding: 5px 10px;
}
.mainInfo__container .bar-graph {
  position: absolute;
  min-width: 100%;
  margin: 0;
}
.mainInfo__container .headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainInfo__container .today-date {
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.analysis-area {
  display: flex;
  flex-direction: row;
  margin-left: 9%;
}

.analysis-area__left {
  width: 100%;
}

.analysis-area__right {
  padding-left: 2%;
  padding-right: 4%;
  width: 100%;
}


.table-container {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    width: calc(100% - 10px);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #e5e5e5;
    padding: 0px;
    text-align: left;
}

h3 {
    margin: 0px;
}
