.product-table {
  width: 100%;
  border-collapse: collapse;
  text-align: middle;
}

.product-table th,
.product-table td {
  border: 1px solid #AAAAAA;
  padding: 1px;
  text-align: middle;
}

.product-table th {
  background-color: #FFF0B4;
  text-align: middle;
}

.product-table tr:nth-child(even) {
  background-color: #FFFFFF;
  text-align: middle;
}

.product-table tr:hover {
  background-color: #FFFFFF;
  text-align: middle;
}

.product-table{
  margin-top: 20px;
  text-align: middle;
}

