.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #AAAAAA;
  padding: 3px;
}

.product-table th {
  background-color: #FFF0B4;
  text-align: middle;
}

.product-table tr:nth-child(even) {
  background-color: #FFFFFF;
}

.product-table tr:hover {
  background-color: #AAAAAA;
}

.product-table{
  margin-top: 50px;
}

img {
  position: relative;
  left: -65px; /* 10ピクセル左に移動 */
}

td, th {
  text-align: center;
  vertical-align: middle;
}


