.section-container {
  display: flex;
  flex-direction: column;
}

.section-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.section-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-row .section-title {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 2px;
}


.section-row .input__name {
  position: relative;
  align-self: center;
  height: 12px;
  width: 260px;
}

.section-row .input__name::before,
.section-row .input__name::after {
  content: ''; /* 必須: 疑似要素に何かしらのコンテンツを設定する */
  top: 50%; /* 縦方向の中心位置 */
  width: 1000px; /* 線の長さを指定 */
  height: 4px; /* 線の太さを指定 */
  background: black; /* 線の色を指定 */
  position: relative;
}

.section-row .input__name::before {
  left: -15px; /* 入力フィールドの左側に配置 */
}

.section-row .input__name::after {
  right: 15px; /* 入力フィールドの右側に配置 */
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.add-button {
  padding: 5px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.add-button:hover {
  background-color: #e0e0e0;
}

.section-container .delete-button {
  margin-right: 0%;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid #aaaaaa;
}

.section-container .add-button {
  height: 40px;
  border-radius: 5px;
  border-color: #e0e0e0;
}

.section-container .customize-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight:600;
  text-align: center;
}

