.customize__container {
  padding-left: 5%;
}

.customize__container .add-customization {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #fff4c6;
}

.customize__container .button {
  border: transparent;
  background-color: #fff4c6;
}

.customize__container .delete-area {
    display: flex;
    justify-content: right;
    padding: 4px;
}

.customize__container .delete-button {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 4px;
    border: 0.5px solid #aaaaaa;
}

.customize__container .text {
  font-size: 14px;
  font-weight: 300;
}

.customize__container .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

.customize__container .box__text {
  min-width: 160px;
}
