.OrderScreen {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 85%;
  overflow: auto;
  margin-left: 9%;
  padding-left: 18px;
  background-color: #FFFEFB;
}

/* Ensure each display area takes up an equal amount of space */
.OrderScreen > div {
  flex-grow: 1;
  overflow: auto;
}
