.purchased-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 9%;
  width: 91%;
  background-color: #fffefb;
}

.please-wait-container .title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 26px;
}

.purchased-items-container .payment__itemBox {
  height: 60%;
  width: 70%;
  border: 1px solid #555555;
  border-radius: 10px;
}

.purchased-items-container .payment__icon {
  width: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 1rem;
}

.item-name {
  font-size: 1.2rem;
}

.item-price {
  font-size: 1.2rem;
}

.confirm-button,
.return-button,
.change-button {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.return-button {
  width: 240px;
  height: 55px;
  background-color: #e6e6e6;
  margin-left: 3%;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchased-items-container .payment__priceArea {
  font-weight: 500;
  padding: 10px;
}

.purchased-items-container .payment__totalPrice {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 10px;
}

.purchased-items-container .payment__tax {
  font-size: 24px;
  font-weight: 500;
}

.purchased-items-container .payment__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchased-items-container .change-button {
  background-color: #d0d0d0;
  color: #222222;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 55px;
}

.purchased-items-container .confirm-button {
  background-color: #ffe165;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 55px;
}
