.purchased-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.title {
  margin-bottom: 2rem;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 1rem;
}

.item-name {
  font-size: 1.2rem;
}

.item-price {
  font-size: 1.2rem;
}

.confirm-button,
.return-button,
.change-button {
  width: 98px;
  height: 55px;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.return-button {
  margin-left: 1rem;
  background-color: #ff0000;
}

.purchased-items-container .payment__totalPrice {
  font-size: 30px;
  font-weight: 500;
}

.purchased-items-container .payment__tax {
  font-size: 20px;
  font-weight: 500;
}

.purchased-items-container .change-button {
background-color: #aaaaaa;
  color: #222222;
  margin-right: 10px;
}

.purchased-items-container .confirm-button {
background-color: #ffe165;
  color: #222222;
}